<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen.listviewtest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".seventh_animator.SeventhActivity"></activity>

        <receiver
            android:name=".fifth_broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.chen.listviewtest.MY_BOADCAST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".third_service.MyIntentService"
            android:exported="true" />
        <service
            android:name=".third_service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".first_image_load.FirstActivity" />
        <activity android:name=".second_pull_refresh.SecondActivity" />
        <activity android:name=".third_service.ThirdActivity" />
        <activity android:name=".fourth_okhttp.FourthActivity" />
        <activity android:name=".fifth_broadcast.FifthActivity" />
        <activity
            android:name=".sixth_fragment.SixthActivity"
            android:process=":remote" />
        <activity android:name=".eight_handlerThread.EighthActivity" />
        <activity android:name=".NinethActivity" />
        <activity android:name=".TenthActivity" />
    </application>

</manifest>